<h3 class="title">{{trans('campaign_compose_compose_step_3_functionalities')}}<span class="icon icon-support " uib-tooltip="{{trans('engaines_campaign_batch_batch_step_3_give_more_power')}}"  tooltip-placement="top"></span></h3>
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-lg-12 bordered container-section">
                    <div class="col-lg-2 col-xs-3 col-sm-3 bordered playback-count-container">
                        <p class="text-center">{{trans('campaign_compose_compose_step_3_playback')}} <br> {{trans('campaign_compose_compose_step_3_count')}}</p>
                        <div class="row">
                            <div class="call-item bordered text-center " data-ng-class="{'active':getPlaybackCount(1)}" ng-click="changePlaybackCount(1)">1x</div>
                            <div class="call-item bordered text-center" data-ng-class="{'active':getPlaybackCount(2)}" ng-click="changePlaybackCount(2)">2x</div>
                            <div class="call-item bordered text-center" data-ng-class="{'active':getPlaybackCount(3)}" ng-click="changePlaybackCount(3)">3x</div>
                            <div class="call-item bordered text-center" data-ng-class="{'active':getPlaybackCount(4)}" ng-click="changePlaybackCount(4)">4x</div>
                            <div class="call-item bordered text-center" data-ng-class="{'active':getPlaybackCount(5)}" ng-click="changePlaybackCount(5)">5x</div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-xs-9 col-sm-9">
                        <div class="col-lg-8 col-sm-12 col-xs-12 col-sm-offset-2 col-lg-offset-2">
                            <p class="callburn-checkbox-white" uib-tooltip="{{trans('engaines_campaign_batch_batch_step_3_if_enabled')}}"  tooltip-placement="top">
                                <input type="checkbox" id="test2" data-ng-model="campaignData.live_answer_only"/>
                                <label for="test2">{{trans('campaign_compose_compose_step_3_human_voice')}}</label>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 checkbox-container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <p class="callburn-checkbox-white" uib-tooltip="{{trans('engaines_campaign_batch_batch_step_3_recipients_replay')}}"  tooltip-placement="top">
                                        <input type="checkbox" id="test4"  data-ng-model="replayDigit.onOff" data-ng-click="replayDigit.onOff ? showReplayModal(): !replayDigit.onOff"/>
                                        <label for="test4">{{trans('campaign_compose_compose_step_3_replay_voice_message')}}</label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <p class="callburn-checkbox-white" uib-tooltip="{{trans('engaines_campaign_batch_batch_step_3_recipients_request')}}"  tooltip-placement="top">
                                        <input type="checkbox" id="test5" data-ng-model="transferDigit.onOff" ng-chcked="transferDigit.onOff" data-ng-click="transferDigit.onOff ? showTransferModal(): !transferDigit.onOff"/>
                                        <label for="test5">{{trans('campaign_compose_compose_step_3_call_live')}}</label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <p class="callburn-checkbox-white" uib-tooltip="{{trans('engaines_campaign_batch_batch_step_3_recall_from_you')}}"  tooltip-placement="top">
                                        <input type="checkbox" id="test6" data-ng-model="callbackDigit.onOff" ng-chcked="callbackDigit.onOff" data-ng-click="callbackDigit.onOff ? showCallbackModal() : !callbackDigit.onOff"/>
                                        <label for="test6">{{trans('campaign_compose_compose_step_3_call_me_back')}}</label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <p class="callburn-checkbox-white" uib-tooltip="{{trans('engaines_campaign_batch_batch_step_3_recipients_unsubscribe')}}"  tooltip-placement="top">
                                        <input type="checkbox" id="test7" data-ng-model="doNotCallDigit.onOff" ng-chcked="doNotCallDigit.onOff" data-ng-click="doNotCallDigit.onOff ? showDoNotCallModal() : !doNotCallDigit.onOff"/>
                                        <label for="test7">{{trans('compose_step_3_blacklist_me')}}</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 step3">
            <div class="row">
                <h3>{{trans('campaign_compose_compose_step_3_review_and_send')}}</h3>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 item">
                            <div class="row">
                                <span class="title">{{trans('campaign_compose_compose_step_3_sending_from_calle')}}</span>
                                <div class="col-lg-12 bordered">
                                    <span>{{campaignData.caller_id}}</span>
                                    <a data-ng-click="changeCallerIdModal()" class="pull-right">{{trans('campaign_compose_compose_step_3_change')}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 item">
                            <span class="title">{{trans('compose_step_3_text_recipients')}}</span>
                            <div class="col-lg-12 bordered">
                                <span>{{finalStepData.numbersCount}} - {{trans('compose_step_3_text_recipients')}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 item">
                            <div class="row">
                                <span class="title">{{trans('campaign_compose_compose_step_3_estimated_sending')}}</span>
                                <div class="col-lg-12 bordered">
                                    <span>{{trans('campaign_compose_compose_step_3_less_than_a')}} {{finalStepData.sendingTime}} {{trans('campaign_compose_compose_step_3_minute')}}</span>
                                    <a data-ng-click="showChangeDeliverySpeedModal()" class="pull-right">{{trans('campaign_compose_compose_step_3_change')}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 item">
                            <span class="title">{{trans('campaign_compose_compose_step_3_maximum_price_is')}}</span>
                            <div class="col-lg-12 bordered">
                                <span>€{{finalStepData.maxCost + finalStepData.maxGiftCost| number:2}}</span>
                                <a href="#" class="pull-right">{{trans('campaign_compose_compose_step_3_why')}} ?</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 item">
                            <div class="row">
                                <div class="col-lg-12 email grey">
                                    <div class="callburn-checkbox-blue">
                                        <input type="checkbox" id="test1" data-ng-model="campaignData.get_email_notification"/>
                                        <label for="test1">{{trans('campaign_compose_compose_step_3_email_notifications')}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <div class="row ">
                        <div class="col-lg-6">
                            <div class="row">
                                <input type="text" placeholder="Tag this message with a name"
                                       class="form-control" data-ng-model="campaignData.campaign_name">
                            </div>
                        </div>
                        <div class="col-lg-6 tooltip-wrapper"  uib-tooltip="{{trans('batch_draft_disabled_tooltip')}}">
                            <button class="btn btn-default full-width btn default-disabled-class"><img
                                    src="/assets/callburn/images/images/save-as-draft.svg"/>{{trans('campaign_compose_compose_step_3_save_as_draft')}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <div class="row ">
                        <div class="col-lg-6" style="margin-bottom:15px;" uib-tooltip="{{trans('batch_preview_disabled_tooltip')}}">
                                <button class="btn btn-primary full-width btn default-disabled-class" ><img
                                        src="/assets/callburn/images/images/DashboardWhite/Delivered@1x.svg"/>{{trans('campaign_compose_compose_step_3_preview_message')}}
                                </button>
                        </div>
                        <div class="col-lg-6" uib-tooltip="{{trans('batch_schedule_disabled_tooltip')}}">
                            <button class="btn btn-primary full-width btn default-disabled-class"  ><img
                                    src="/assets/callburn/images/images/calendar-icon.svg"/>
                                {{trans('campaign_compose_compose_step_3_schedule')}}
                            </button>
                        </div>
                        <div class="col-lg-12 mt-30">
                            <div class="row" uib-tooltip="{{hasEnoughBalanceToValidate()? '': trans('you_dont_have_enough_balance_for_sending')}}">
                                <button class="btn btn-success full-width btn {{(!hasEnoughBalanceToValidate)?'default-disabled-class':''}}" ng-click="hasEnoughBalanceToValidate?saveCampaign():''"><img
                                        src="/assets/callburn/images/images/send-icon@3x.svg"/>{{trans('campaign_compose_compose_step_3_send_now')}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
