<div class="col-lg-12 footer">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 icons-center">
                    <div class="col-lg-6 icon-1">
                        <img src="assets/front/images/app-store-icon@3x.svg" class="img-responsive">
                    </div>
                    <div class="col-lg-6 icon-2">
                        <img src="assets/front/images/android-icon@3x.svg" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <span class="chat-with-us">
                            <span class="bold">{{trans('include_front_footer_our_customers_are_happy')}}</span><br>
                            {{trans('include_front_footer_and_you_let_us_know')}}
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-lg-offset-5 icons-center">
                    <div class="col-lg-6 icon-1">
                        <img src="assets/front/images/facebook-icon@3x.svg" class="img-responsive">
                    </div>
                    <div class="col-lg-6 icon-2">
                        <img src="assets/front/images/google-plus-icon@3x.svg" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <hr>
                </div>

                <div class="col-lg-12 logo">
                    <div class="row">
                        <img src="assets/front/images/call-burn-l-o-g-o@3x.svg" class="img-responsive">

                    </div>
                </div>
                <div class="col-lg-12 copiright">
                    <div class="row">
                        <span>{{trans('include_front_footer_contact_support')}} support@callburn.com<br>
                                © Copyright 2016 Callburn<br>
                                    {{trans('include_front_footer_all_rights_reserved')}}</span>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-4 footer-menu-small">
                    <div class="row">
                        <ul class="">
                            <li><a data-ng-click="showTermsModal()">{{trans('include_front_footer_terms_and_conditions')}}</a></li>
                            <li><a data-ng-click="showPravicyModal()">{{trans('include_front_footer_privacy_policy')}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-8 centred footer-menu-all">
                    <div class="row">
                        <ul class="">
                            <li><a href="#" ui-sref="features">{{trans('include_front_footer_features')}}</a></li>
                            <li><a href="#" ui-sref="price">{{trans('include_front_footer_pricing')}}</a></li>
                            <li><a href="#" ui-sref="developers">{{trans('include_front_footer_developers')}}</a></li>
                            <li><a href="#" ui-sref="docs">{{trans('include_front_footer_docs')}}</a></li>
                            <li><a href="#" ui-sref="contact-us">{{trans('include_front_footer_contact_us')}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
