<div>
  <div class="black_line"></div>
  <!-- <div class="back_next_container">
    <div id="back" ng-show="showPreviousIcon" ng-click="previousStep()">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <span class="back_next_sp">{{ trans("engaines_account_") }}</span>
    </div>
    <div id="next" ng-show="showNextIcon" ng-click="nextStep()">
      <span class="back_next_sp back_next_sp1">{{
        trans("engaines_account_main")
      }}</span>
    </div>
  </div> -->
  <div style="background: #fff;">
    <div class="account_container">
      <div ui-view></div>
    </div>
  </div>
</div>
