<div class="container">
    <div class="col-xs-12 compose_now step-3-now">
        <div class="step3">
            <h1 class="main_title">{{trans('campaign_compose_compose_step_3_review_and_send')}}</h1>
            <div class="row item_parent">
                <div class="item_holder callerid">
                    <h1 class="title">{{trans('calling_from_callerid')}}</h1>
                    <div class="inner">
                        <div class="two_methods">
                            <div class="flag-cc-step2" ng-if="selectedType != 'sms'">
                                <p class="placeholder">{{trans('dashboard_welcome_voice_messages')}}</p>

                                <img ng-if="campaignData.country_code" ng-src="/assets/callburn/images/flags/{{CampaignComposeService.campaignData.code || currentUser.numbers[currentUser.numbers.length - 1].tariff.country.code || campaignData.country_code}}.svg">
                                <!-- && isExist -->
                                <span>+{{CampaignComposeService.campaignData.caller_id ? CampaignComposeService.campaignData.caller_id
                                    : currentUser.numbers[currentUser.numbers.length - 1].phone_number}} {{nameForCallerID}}</span>
                            </div>

                            <div class="with_sender" ng-if="selectedType === 'vmSms' || selectedType === 'sms'">
                                <p class="placeholder">SMS</p>
                                <span>
                                    {{selectedType == 'sms' ? '' : '/' }} {{CampaignComposeService.campaignData.sender_name || 'Callburn'}}
                                </span>
                            </div>
                        </div>
                        <a ng-click="showCallerIdModal()" class="change_btn">{{trans('campaign_compose_compose_step_3_change')}}</a>
                    </div>
                </div>
                <!-- <div class="item_holder time">
                    <h1 class="title">{{trans('campaign_compose_compose_step_3_estimated_sending')}}</h1>
                    <div class="inner">
                        <p>{{trans('campaign_compose_compose_step_3_less_than_a')}} {{CampaignComposeService.campaignData.sending_time?CampaignComposeService.campaignData.sending_time:3}} {{trans('campaign_compose_compose_step_3_minute')}}</p>
                    </div>
                </div> -->
                <div class="item_holder shuffle">
                    <h1 class="title invis">{{trans('should_shuffle')}}</h1>
                    <div class="inner">
                        <div class="callburn-checkbox-white" ng-click="shouldShufflePressed()">
                            <input type="checkbox" id="should_shuffle" ng-checked="CampaignComposeService.campaignData.should_shuffle || CampaignComposeService.campaignData.should_shuffle === 1"
                                data-ng-model="CampaignComposeService.campaignData.should_shuffle" />
                            <label for="should_shuffle">
                                <span>
                                    {{trans('should_shuffle')}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row item_parent">
                <div class="item_holder recipient">
                    <h1 class="title" ng-class="{disabled : !CampaignComposeService.finalStepData.numbersCount}">{{trans('engaines_campaign_compose_step_3_recipients')}}</h1>
                    <div class="inner">
                        <div ng-class="{visible_hidden: CampaignComposeService.finalStepData.recipientsCounterLoader, disabled : !CampaignComposeService.finalStepData.numbersCount}">
                            <p class="" ng-if="CampaignComposeService.finalStepData.recipientsGroupNames">{{(CampaignComposeService.finalStepData.recipientsGroupNames.search()
                                != -1) ? trans('created_on') + ' ' + CampaignComposeService.finalStepData.recipientsGroupNames.replace('created_on',''):CampaignComposeService.finalStepData.recipientsGroupNames}}</p>
                            <p>{{CampaignComposeService.finalStepData.numbersCount ? CampaignComposeService.finalStepData.numbersCount
                                : ''}} {{CampaignComposeService.finalStepData.numbersCount ? trans('campaign_compose_compose_step_3_recipient')
                                : trans('campaign_step_3_n_a')}}</p>
                        </div>
                        <span ng-show="!CampaignComposeService.finalStepData.numbersCount" class="support" ng-class="{disabled : !CampaignComposeService.finalStepData.numbersCount}"></span>
                        <div class="compose-hover recipient-hover" ng-hide="CampaignComposeService.finalStepData.numbersCount">
                            <p>
                                {{trans('you_havent_chosen_any_recipient_yet_click_2')}}
                                <a ng-click="navigateScrollTo('choose-your-recipients')">{{trans('step_3_here_2')}}</a>
                                {{trans('to_add_them_2')}}
                            </p>
                        </div>
                        <img ng-show="CampaignComposeService.finalStepData.recipientsCounterLoader" src="assets/callburn/images/images/blue-audio-spinner.svg"
                            class="balance_spinner" alt="">
                    </div>
                </div>
                <div class="item_holder price">
                    <h1 class="title" ng-class="{'disabled' : (selectedType === 'vm' && !CampaignComposeService.finalStepData.maxCost) || selectedType === 'vmSms' && (!CampaignComposeService.finalStepData.maxCost || !CampaignComposeService.finalStepData.maxCostWithSms || (CampaignComposeService.finalStepData.maxCost === CampaignComposeService.finalStepData.maxCostWithSms)) || (selectedType === 'sms' && !CampaignComposeService.finalStepData.maxCostWithSms)}">{{trans('campaign_compose_compose_step_3_maximum_price_is')}}</h1>
                    <div class="inner">
                        <div class="max-price-box-mouseover" ng-class="{'disabled' : (selectedType === 'vm' && !CampaignComposeService.finalStepData.maxCost) || selectedType === 'vmSms' && (!CampaignComposeService.finalStepData.maxCost || !CampaignComposeService.finalStepData.maxCostWithSms || (CampaignComposeService.finalStepData.maxCost === CampaignComposeService.finalStepData.maxCostWithSms)) || (selectedType === 'sms' && !CampaignComposeService.finalStepData.maxCostWithSms)}">
                            <span ng-show="selectedType === 'vm' && CampaignComposeService.finalStepData.maxCost">
                                <p class="placeholder">{{trans('dashboard_welcome_voice_messages')}}</p>
                                €{{CampaignComposeService.finalStepData.maxCost | number:2}}
                                <i ng-if="CampaignComposeService.campaignData.max_gift_cost">
                                    - {{'€ ' + CampaignComposeService.campaignData.max_gift_cost| number:2}} {{trans('campaign_compose_compose_step_3_taken_from_gift')}}
                                </i>
                            </span>
                            <span ng-show="selectedType === 'vm' && !CampaignComposeService.finalStepData.maxCost">
                                {{trans('campaign_step_3_n_a')}}
                            </span>
                            <span ng-show="selectedType === 'vmSms' && (CampaignComposeService.finalStepData.maxCost && CampaignComposeService.finalStepData.maxCostWithSms && (CampaignComposeService.finalStepData.maxCost !== CampaignComposeService.finalStepData.maxCostWithSms))">
                                <p class="placeholder">{{trans('dashboard_welcome_voice_messages')}} / SMS</p>
                                <i ng-if="CampaignComposeService.campaignData.max_gift_cost">
                                    - {{'€ ' + CampaignComposeService.campaignData.max_gift_cost| number:2}} {{trans('campaign_compose_compose_step_3_taken_from_gift')}}
                                </i>
                                <span ng-if="selectedType === 'vmSms' && CampaignComposeService.finalStepData.maxCostWithSms">
                                    €{{CampaignComposeService.finalStepData.maxCost | number:2}} / €{{CampaignComposeService.finalStepData.maxCostWithSms | number:2}}
                                </span>
                            </span>
                            <span ng-show="selectedType === 'vmSms' && (!CampaignComposeService.finalStepData.maxCost || !CampaignComposeService.finalStepData.maxCostWithSms || (CampaignComposeService.finalStepData.maxCost === CampaignComposeService.finalStepData.maxCostWithSms))">
                                {{trans('campaign_step_3_n_a')}}
                            </span>
                            <span ng-show="selectedType === 'sms' && CampaignComposeService.finalStepData.maxCostWithSms">
                                <p class="placeholder">SMS</p>
                                €{{CampaignComposeService.finalStepData.maxCostWithSms | number:2}}
                            </span>
                            <span ng-show="selectedType === 'sms' && !CampaignComposeService.finalStepData.maxCostWithSms">
                                {{trans('campaign_step_3_n_a')}}
                            </span>
                        </div>
                        <span ng-show="!CampaignComposeService.finalStepData.maxCost" class="support" ng-class="{'disabled' : (selectedType === 'vm' && !CampaignComposeService.finalStepData.maxCost) || selectedType === 'vmSms' && (!CampaignComposeService.finalStepData.maxCost || !CampaignComposeService.finalStepData.maxCostWithSms || (CampaignComposeService.finalStepData.maxCost === CampaignComposeService.finalStepData.maxCostWithSms)) || (selectedType === 'sms' && !CampaignComposeService.finalStepData.maxCostWithSms)}"></span>
                        <div class="compose-hover recipient-hover">
                            <p ng-if="!CampaignComposeService.finalStepData.numbersCount && !CampaignComposeService.finalStepData.voiceFile">
                                {{trans('to_know_your_estimated_maximum_price_you_have_to')}}
                                <a ng-click="navigateScrollTo('audio-messages')">{{trans('compose_voice_message')}}</a>
                                {{trans('modal_step4_and')}}
                                <a ng-click="navigateScrollTo('choose-your-recipients')">{{trans('choose_your_recipients')}}</a>
                            </p>
                            <p ng-if="CampaignComposeService.finalStepData.numbersCount && !CampaignComposeService.finalStepData.voiceFile">
                                {{trans('to_know_your_estimated_maximum_price_you_have_to')}}
                                <a ng-click="navigateScrollTo('audio-messages')">{{trans('compose_voice_message')}}</a>
                            </p>
                            <p ng-if="!CampaignComposeService.finalStepData.numbersCount && CampaignComposeService.finalStepData.voiceFile">
                                {{trans('to_know_your_estimated_maximum_price_you_have_to')}}
                                <a ng-click="navigateScrollTo('choose-your-recipients')">{{trans('choose_your_recipients')}}</a>
                            </p>
                        </div>
                        <img ng-show="CampaignComposeService.finalStepData.recipientsCounterLoader" src="assets/callburn/images/images/blue-audio-spinner.svg"
                            class="balance_spinner" alt="">
                    </div>
                </div>
                <div class="item_holder news">
                    <h1 class="title invis">{{trans('campaign_compose_compose_step_3_email_notifications')}}</h1>
                    <div class="inner">
                        <div class="callburn-checkbox-white" ng-click="getEmailNotify()">
                            <input type="checkbox" id="test1" ng-checked="CampaignComposeService.campaignData.get_email_notifications || CampaignComposeService.campaignData.get_email_notifications === 1"
                                data-ng-model="CampaignComposeService.campaignData.get_email_notifications" />
                            <label for="test1">
                                <span>
                                    {{trans('campaign_compose_compose_step_3_email_notifications')}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item_parent name">
                <div class="border"></div>
                <div class="item_holder name">
                    <div class="inner activate_transfer_arrow">
                        <input type="text" id="tagWithName" placeholder="{{trans('compose_tag_this_message_with_a_name')}}" class="name" ng-class="{'snippet-wrong-border' : disableTagWithName, 'blue_border': reusingSource}"
                            ng-model="CampaignComposeService.campaignData.campaign_name" ng-change="checkCampaignName()">
                    </div>
                </div>
                <div class="border"></div>
            </div>

            <div class="item_parent actions_select box_holder" ng-class="{disabled: !enableComposeActions}">
                <button class="schedule_sel sel hovering" ng-class="{disabled: CampaignComposeService.campaignData.remaining_repeats > 0 || !enableComposeActions}"
                    ng-disabled="CampaignComposeService.campaignData.remaining_repeats > 0 || !enableComposeActions" uib-tooltip="{{(CampaignComposeService.campaignData.remaining_repeats > 0) ? trans('compose_step_3_disable_save_as_draft') : ''}}"
                    ng-click="proceedToSave(CampaignComposeService.editingCampaign)">
                    <!--ng-click="blinkSaveButton && CampaignComposeService.editingCampaign.status != 'stop' ? proceedToSave(CampaignComposeService.editingCampaign) : null"-->
                    <div class="content">
                        <img src="/assets/images/compose/save.svg" />
                        <p>{{ CampaignComposeService.editingCampaign ? trans('campaign_compose_compose_step_3_save_changes')
                            : trans('campaign_compose_compose_step_3_save_as_draft')}}</p>
                    </div>
                </button>
                <button class="sel hovering" ng-class="{disabled: !enableComposeActions}" ng-if="selectedType === 'vm' || selectedType === 'sms'"
                    ng-click="showSendPreviewModal()" ng-disabled="!enableComposeActions">
                    <div class="content">
                        <img src="/assets/images/compose/preview.svg" />
                        <p>{{trans('campaign_compose_compose_step_3_preview_message')}}</p>
                    </div>
                </button>
                <button class="sel hovering" ng-if="selectedType === 'vmSms'" ng-click="showSendPreviewModal()" ng-disabled="!enableComposeActions"
                    ng-class="{disabled: !enableComposeActions}">
                    <div class="content">
                        <img src="/assets/images/compose/preview.svg" />
                        <p>{{trans('campaign_compose_compose_step_3_preview_message')}}</p>
                    </div>
                </button>
            </div>
            <!-- <div class="item_parent btn_holder">
                <button class="btn btn_blue {{(!CampaignComposeService.finalStepData.numbersCount || !CampaignComposeService.campaignData.campaign_voice_file_id) ? 'default-disabled-class' : ''}}" data-ng-click="(CampaignComposeService.finalStepData.numbersCount && CampaignComposeService.campaignData.campaign_voice_file_id) ? showScedulationModal() : ''">
                    <img src="/assets/callburn/images/images/step3-calendar.png" id="calendar_icon"/>{{trans('campaign_compose_compose_step_3_schedule')}}
                </button>

                <button class="btn btn_green {{(!CampaignComposeService.finalStepData.numbersCount || !CampaignComposeService.campaignData.campaign_voice_file_id || !isBalanceAvailable() || CampaignComposeService.checkIfAlreadyStarted()) ? 'default-disabled-class' : ''}}" ng-click="(CampaignComposeService.finalStepData.numbersCount && CampaignComposeService.campaignData.campaign_voice_file_id && isBalanceAvailable()) ? CampaignComposeService.doValitation('start') : ''" ng-mouseover="maxPriceMouseover('sendNow')" ng-mouseleave="maxPriceMouseleave()" uib-tooltip="{{!isBalanceAvailable() ? disabledCampaignButtonText : ''}}">
                    <img src="/assets/callburn/images/images/send-icon@3x.svg"/>{{trans('campaign_compose_compose_step_3_send_now')}}
                </button>
            </div> -->
            <div class="item_parent actions_select box_holder" ng-class="{disabled: !enableComposeActions}">
                <button class="schedule_sel sel" ng-click="showScedulationModal()" ng-disabled="!enableComposeActions" ng-class="{disabled: !enableComposeActions}">
                    <!-- <div class="radio_input">
                        <input type="radio" ng-checked="selectedAction === 'schedule'" name="schedule">
                        <label ng-class="{active: selectedAction === 'schedule'}" for="schedule"></label>
                    </div> -->
                    <div class="content content_col">
                        <div class="top">
                            <img src="/assets/images/compose/calendar.svg" id="calendar_icon" />
                            <p>{{CampaignComposeService.editingCampaign && CampaignComposeService.editingCampaign.status
                                === 'scheduled' ? trans('campaign_compose_schedule_edit_title') : trans('campaign_compose_compose_step_3_schedule')
                                }}
                            </p>
                        </div>
                        <div class="bot">
                            <p>{{CampaignComposeService.editingCampaign && CampaignComposeService.editingCampaign.status
                                === 'scheduled' ? getCampaignStatusText(CampaignComposeService.editingCampaign.status) :
                                trans('schedule_button_text')}}
                            </p>
                        </div>
                    </div>
                </button>
                <button ng-if="!CampaignComposeService.editingCampaign || (CampaignComposeService.editingCampaign && CampaignComposeService.editingCampaign.status !== 'scheduled')"
                    class="sendnow_sel sel" ng-click="CampaignComposeService.doValitation('start')" ng-disabled="previews.length"
                    ng-class="{disabled: previews.length}">
                    <!-- <div class="radio_input">
                        <input type="radio" ng-checked="selectedAction === 'send_now'" name="sendNow">
                        <label ng-class="{active: selectedAction === 'send_now'}" for="sendNow"></label>
                    </div> -->
                    <div class="content content_col">
                        <div class="top">
                            <img src="/assets/images/compose/magnet.svg" />
                            <p>{{trans('campaign_compose_compose_step_3_send_now')}}</p>
                        </div>
                        <div class="bot">
                            <p>{{trans('send_now_button_text')}}</p>
                        </div>
                    </div>
                </button>
            </div>
            <div id="preview_table" class="preview_table" ng-if="previews.length">
                <h1>{{trans('sent_previews')}}</h1>
                <div class="table_styled">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{trans('campaign_template_index_type')}}</th>
                                <th>
                                    {{trans('account_invocies_date')}}
                                </th>
                                <th>
                                    {{trans('campaign_overview_index_status')}}
                                </th>
                                <th>
                                    {{trans('campaign_statistics_interactions')}}
                                </th>
                                <th>
                                    {{trans('campaign_statistics_cost')}}
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="preview in previews">
                            <tr ng-repeat="prev in preview.preview_phonenumbers">
                                <td>
                                    <img ng-if="preview[0].sms_count[0].length" uib-tooltip="{{preview[0].sms_text}}" uib-placement="top" src="/assets/images/overview/sms.svg"
                                        alt="">
                                    <img ng-if="!preview[0].sms_count[0].length" height="20" width="20" src="/assets/images/overview/vm.svg" alt="play button"
                                        class="img-responsive" style="cursor:pointer">
                                </td>
                                <td>
                                    {{prev.created_at}}
                                </td>
                                <td>
                                    <div class="socket_verification">
                                        <p>
                                            <span ng-show="preview.preview_phonenumbers.length" ng-class="{'failed': prev.status == 'FAILED' ,'calling': prev.status == 'IN_PROGRESS', 'succeed': prev.status == 'SUCCEED' }">
                                                <!-- <span ng-if=!prev.status>
                                                    {{trans('campaign_overview_calling_in_progress')}}
                                                </span> -->
                                                {{prev.status == 'IN_PROGRESS' ? trans('campaign_overview_calling_in_progress') : prev.status == 'FAILED' ? trans('failed')
                                                : prev.status == 'SUCCEED' ? trans('success_3') : prev.status }}
                                            </span>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <span ng-if="prev.actions_log.length > 0" ng-repeat="(key, action) in prev.actions_log">
                                        <span ng-if="prev.actions_log[key].call_status === 'TRANSFER_REQUESTED'">
                                            {{ trans('campaign_statistics_transfer') }}
                                        </span>
                                        <span ng-if="prev.actions_log[key].call_status === 'REPLAY_REQUESTED'">
                                            {{ trans('campaign_statistics_replay') }}
                                        </span>
                                        <span ng-if="prev.actions_log[key].call_status === 'CALLBACK_REQUESTED'">
                                            {{ trans('campaign_statistics_callback') }}
                                        </span>
                                        <span ng-if="prev.actions_log[key].call_status === 'DONOTCALL_REQUESTED'">
                                            {{ trans('campaign_statistics_blacklist') }}
                                        </span>
                                        <span ng-if="prev.actions_log.length > key + 1">,</span>
                                    </span>
                                    <span ng-if="prev.actions_log.length <= 0">
                                        {{ trans('statistics_no_interaction') }}
                                    </span>
                                </td>
                                <td>
                                    €{{prev.total_cost | number:2}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>