<div class="customize-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="hideOverlay()"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="modal_window">
            <div class="modal_container">
                <div class="modal_select_container text-center">
                    <h4>
                        A call will be sent using your available credit.
                        <br> 
                        Do you want to continue?
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-success" ng-click="saveSnippetConfirmation()">Yes</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-default btn-block" data-ng-click="hideOverlay()">Cancel</button>
        </div>
    </div>

</div>