<!-- CALL ME BACK INTERACTION MODALS -->
<div class="new_modal_style activate_replay_modal activate_callback_modal">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">{{trans('modals_camping_batch_activate_callback_activate_call_me')}}</h4>
          <i data-ng-click="cancelModal()" class="fa fa-times"></i>
        </div>
        <div class="modal-body">
          <div class="interact">
            <div class="left_text">
              <img src="/assets/images/compose/callback.svg">
              <h1>{{trans('campaign_compose_compose_step_3_call_me_back')}}</h1>
            </div>
            <div class="right_text">
              {{trans('callback_text')}}
            </div>
          </div>
          <div class="content">
            <div class="left_side">
              <p class="title">{{trans('modals_camping_batch_activate_not_call_how_it_works')}}</p>
              <p>
                {{trans('modals_camping_batch_activate_callback_a_second')}}
                {{trans('modals_camping_batch_activate_callback_if_you_have_any')}}
                <a data-ng-click="openChatWindow()"> {{trans('modals_camping_batch_chat')}}.</a>
              </p>
              <p class="title pills_title">
                {{trans('active_callback_modal_short_description')}}
              </p>
              <uib-tabset type="pills" ng-class="{'error snippet_blinking': tempError}">
                <uib-tab index="0" heading="{{trans('campaign_compose_compose_step_1_tts_technology')}}">
                  <div class="">
                    <div class="compose_method">
                      <div class="choose_lang_and_voice_container select-second-type">
                        <ui-select ng-model="callbackTtsData.language" theme="bootstrap" id="_id" title="Choose an address">
                          <ui-select-match placeholder="{{trans('compose_step_1_method_1_select_default')}}">{{$select.selected.selectView}}</ui-select-match>
                          <ui-select-choices repeat="language.ttsEngine as language in CampaignComposeService.ttsLanguages | filter: $select.search track by $index"
                            ng-click="keepObject ? valueSelected(option,option,$index) : valueSelected(option[showAttr],option[keepAttr],$index)">
                            <div ng-bind-html="language.selectView | highlight: $select.search"></div>
                            <div class="ng-hide" ng-bind-html="language.ttsEngine | highlight: $select.search"></div>
                            <div class="ng-hide" ng-bind-html="language.languageName | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                      <textarea ng-model="callbackTtsData.text" class="compose_method1_textarea" placeholder="{{trans('callback_textarea_placeholder')}}"></textarea>
                      <button class="btn btn-success full-width" ng-click="createAudioFromTextForCallback()" ng-disabled="!callbackTtsData.language || !callbackTtsData.text">
                        {{trans('button_compose_it_now')}}
                      </button>
                    </div>
                    <div class="actions compagin-compose-audio-upload {{(ttsUploadedAudioFile._id == seletedTemplateId)?'audio-template-selected':''}} col-md-6 col-md-offset-3"
                      ng-if="isTtsUploaded" data-ng-click="callbackAudioTemplateSelected(ttsUploadedAudioFile)" uib-tooltip="{{ttsUploadedAudioFile.tts_text}}">
      
                      <i id="ttsFilePlay{{ttsUploadedAudioFile._id}}" tooltip-trigger="mouseenter" ng-class="ttsUploadedAudioFile.playButtonClass ? ttsUploadedAudioFile.playButtonClass : 'fa-play-circle'" class="fa"
                        data-ng-click="playPauseRecordedAudio(ttsUploadedAudioFile)"></i>
                      <span style="opacity: 0.9;">
                        {{ttsUploadedAudioFile.tts_text ?
                        ttsUploadedAudioFile.tts_text.replace("."+ttsUploadedAudioFile.extension) : '' | limitTo:
                        50}}{{ttsUploadedAudioFile.tts_text.length > 50 ? '...' : ''}}
                      </span>
                      <audio ng-show="false" controls id="composeTemplateFile{{ttsUploadedAudioFile._id}}" ng-src="{{getAudioSource(ttsUploadedAudioFile)}}"></audio>
                  </div>
                </uib-tab>
                <uib-tab index="1" heading="{{trans('campaign_compose_compose_step_1_upload_ffile')}}">
                  <div class="file_uploader_container">
                    <div nv-file-drop uploader="callbackDigitFileUpload" class="drag_drop col-xs-12">
                      <div class="col-xs-12 centerd">
                        <div class="row">
                          <p ng-show="!uploadingAudioName" class="upload_audio_txt">
                            {{trans('modals_camping_batch_activate_callback_move_your_mp3')}}
                          </p>
                          <button class="btn btn-primary" ng-click="openBatchFileSelect()">
                            {{trans('modals_camping_batch_activate_callback_choose_file')}}
                          </button>
                        </div>
                      </div>
                      <!-- <p ng-show="uploadingAudioName">{{uploadingAudioName}}</p> -->
                    </div>
                    <div class="compose_drag_drop_input">
                      <input ng-show="false" readonly="true" type="text" class="compose_method2_input" placeholder="{{trans('compose_step_1_method_2_input_placeholder')}}" />
                      <input ng-show="false" id="campaignBatchFileInput" type="file" nv-file-select uploader="callbackDigitFileUpload" />
                    </div>
                    <div class="actions compagin-compose-audio-upload uploaded_audio_pos {{(uploadedAudioFile._id == seletedTemplateId)?'audio-template-selected':''}}"
                      ng-if="isUploaded" data-ng-click="callbackAudioTemplateSelected(uploadedAudioFile)">
                      <i tooltip-placement="top" id="audioFilePlay{{uploadedAudioFile._id}}" uib-tooltip="{{trans('engaines_campaign_tamplate_play')}}"
                        tooltip-trigger="mouseenter" class="fa fa-play-circle" data-ng-click="playPauseRecordedAudio(uploadedAudioFile)"></i>
                      <span style="opacity: 0.9;">
                        {{uploadedAudioFile.orig_filename}}
                      </span>
                    </div>
                    <audio ng-show="false" controls id="composeTemplateFile{{uploadedAudioFile._id}}" ng-src="{{getAudioSource(uploadedAudioFile)}}"></audio>
                  </div>
                </uib-tab>
                <uib-tab index="2" heading="{{trans('campaign_compose_compose_step_1_templates')}} ({{callbackTemplates.files.length}})">
                  <div class="template_all_holder">
                    <div class="template_voice_holder" data-ng-click="callbackAudioTemplateSelected(file)" ng-repeat="file in callbackTemplates.files">
                      <div class="voice-template-container {{(file._id == seletedTemplateId)?'audio-template-selected':''}}">
                        <div id="selectedAudio{{file._id}}">
                          <span ng-if="file.type == 'TTS'" class="template_voice_item_text">
                            {{file.tts_text | limitTo: 25}}{{file.tts_text.length > 25 ? '...' : ''}}
                          </span>
                          <span ng-if="file.type == 'UPLOADED'" class="template_voice_item_text">
                            {{file.orig_filename}}
                          </span>
                          <div class="cmp-new-play">
                            <span class="fa" ng-class="file.playButtonClass ? file.playButtonClass : 'fa-play-circle'"
                              ng-show="!file.showAudioSpinner" id="audioFilePlay1{{file._id}}" alt="play button"
                              data-ng-click="playPauseRecordedAudio(file)"></span>
                            <span ng-show="file.showAudioSpinner" class="spinner_holder">
                              <img class="audio-spinner-size" src="/assets/callburn/images/images/gray-audio-spinner.svg">
                            </span>
                            <audio ng-show="false" controls id="composeTemplateFile{{file._id}}" ng-src="{{getAudioSource(file)}}"></audio>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
            <div class="right_side interaction">
              <p class="title" ng-class="{'error snippet_blinking': digitError}">
                {{trans('modals_camping_batch_dijit_choosen_select_a_digit')}}
              </p>
              <div class="integer-container">
                <div class="col-xs-4 integer" data-ng-class="{'active':hasInArray(chosedInteractions,1,2),'inactive': interData.replayDigit.digit == 1 || interData.transferDigit.digit == 1 || interData.blacklistDigit.digit == 1}"
                  data-ng-click="!isInactive(1,2) ? selectInteraction(1):''">
                  <span>1</span>
                </div>
                <div class="col-xs-4 integer" data-ng-class="{'active':hasInArray(chosedInteractions,2,2),'inactive': interData.replayDigit.digit == 2 || interData.transferDigit.digit == 2 || interData.blacklistDigit.digit == 2}"
                  data-ng-click="!isInactive(2,2) ? selectInteraction(2):''">
                  <span>2</span>
                </div>
                <div class="col-xs-4 integer" data-ng-class="{'active':hasInArray(chosedInteractions,3,2),'inactive': interData.replayDigit.digit == 3 || interData.transferDigit.digit == 3 || interData.blacklistDigit.digit == 3}"
                  data-ng-click="!isInactive(3,2) ? selectInteraction(3):''">
                  <span>3</span>
                </div>
                <div class="col-xs-4 integer" data-ng-class="{'active':hasInArray(chosedInteractions,4,2),'inactive': interData.replayDigit.digit == 4 || interData.transferDigit.digit == 4 || interData.blacklistDigit.digit == 4}"
                  data-ng-click="!isInactive(4,2) ? selectInteraction(4):''">
                  <span>4</span>
                </div>
                <div class="col-xs-4 integer" data-ng-class="{'active':hasInArray(chosedInteractions,5,2),'inactive': interData.replayDigit.digit == 5 || interData.transferDigit.digit == 5 || interData.blacklistDigit.digit == 5}"
                  data-ng-click="!isInactive(5,2) ? selectInteraction(5):''">
                  <span>5</span>
                </div>
                <div class="col-xs-4 integer" data-ng-class="{'active':hasInArray(chosedInteractions,6,2),'inactive': interData.replayDigit.digit == 6 || interData.transferDigit.digit == 6 || interData.blacklistDigit.digit == 6}"
                  data-ng-click="!isInactive(6,2) ? selectInteraction(6):''">
                  <span>6</span>
                </div>
                <div class="col-xs-4 integer" data-ng-class="{'active':hasInArray(chosedInteractions,7,2),'inactive': interData.replayDigit.digit == 7 || interData.transferDigit.digit == 7 || interData.blacklistDigit.digit == 7}"
                  data-ng-click="!isInactive(7,2) ? selectInteraction(7):''">
                  <span>7</span>
                </div>
                <div class="col-xs-4 integer" data-ng-class="{'active':hasInArray(chosedInteractions,8,2),'inactive': interData.replayDigit.digit == 8 || interData.transferDigit.digit == 8 || interData.blacklistDigit.digit == 8}"
                  data-ng-click="!isInactive(8,2) ? selectInteraction(8):''">
                  <span>8</span>
                </div>
                <div class="col-xs-4 integer" data-ng-class="{'active':hasInArray(chosedInteractions,9,2),'inactive': interData.replayDigit.digit == 9 || interData.transferDigit.digit == 9 || interData.blacklistDigit.digit == 9}"
                  data-ng-click="!isInactive(9,2) ? selectInteraction(9):''">
                  <span>9</span>
                </div>
                <div class="col-xs-4 integer">
                  <span></span>
                </div>
                <div class="col-xs-4 integer" data-ng-class="{'active':hasInArray(chosedInteractions,0,2),'inactive': interData.replayDigit.digit == 0 || interData.transferDigit.digit == 0 || interData.blacklistDigit.digit == 0}"
                  data-ng-click="!isInactive(0,2) ? selectInteraction(0):''">
                  <span>0</span>
                </div>
                <div class="col-xs-4 integer">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-check" ng-class="{active: interData.callbackDigit.checkboxChecked, 'error snippet_blinking': checkboxError}">
            <div class="callburn-checkbox-white">
              <input type="checkbox" id="activateCallback" ng-checked="interData.callbackDigit.checkboxChecked"
                data-ng-model="interData.callbackDigit.checkboxChecked">
              <label for="activateCallback">{{trans('check_container_text1')}}</label>
            </div>
          </button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-cancel" ng-click="cancelModal()">{{trans('addressbook_import_contact_cancel')}}</button>
          <button class="btn btn-success full-width" id="callMeBackBtn" ng-click="finishModal(interData.callbackDigit.checkboxChecked)">{{trans('modals_camping_batch_activate_callback_activate_call_me')}}</button>
        </div>
      </div>