<div class="row contacts_actions" ng-init="moreWhite = false;">
  <!-- <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 addressbook-group-filter recipient-input-holder">
		<input type="text" class="inp-placeholder" ng-class="{'has-type':contactsService.filterOrAddData}" placeholder="{{trans('')}}" ng-blur="contactsService.filterContacts()" ng-model="" id="filter-search-box" name="contacts-recipient-input">
		<label for="contacts-recipient-input" class="lab-placeholder">
			{{trans('search_filter_by_phonenumber')}}
		</label>
	</div> -->
  <div class="col-xs-12 actions_holder">
    <div
      class="contDev_item"
      ng-show="contactsService.contactsData.contacts.length"
      ng-click="contactsService.backToPhonebook()"
    >
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <span>{{ trans("back_to_phonebook") }}</span>
    </div>
    <div
      ng-if="
			 contactsService.showMoreSelectBox"
      uib-dropdown-toggle
      id="simple-dropdown"
      ng-mouseenter="moreWhite = true"
      ng-mouseleave="moreWhite = false"
      uib-dropdown
      on-toggle="toggled(open)"
      class="contDev_item"
      ng-class="{disabled: !contactsService.contactsMoreDropdownToggle}"
      ng-disabled="!contactsService.contactsMoreDropdownToggle"
    >
      <img
        width="25"
        ng-src="{{
          moreWhite
            ? '/assets/images/more_btn_white.svg'
            : '/assets/images/more_btn_blue.svg'
        }}"
        alt=""
      />
      <span> {{ trans("address_book_groups_more") }} </span>
      <ul
        class="dropdown-menu"
        uib-dropdown-menu
        aria-labelledby="simple-dropdown"
      >
        <li>
          <a data-ng-click="contactsService.sendMessage()">{{
            trans("address_book_groups_send_message")
          }}</a>
        </li>
        <li>
          <a
            data-ng-click="contactsService.removeSelected()"
            class="warrning"
            >{{ trans("address_book_groups_delete_selected") }}</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="graphics" ng-if="contactsService.currentUrlHash < 0">
    <div class="stats" ng-if="contactsService.contactsData.currentGroup">
      <div class="groupname_in_contacts">
        <p class="contact_group_name" ng-if="!contactsService.showEditBox">
          {{ trans("contacts_group_name") }}:
          <span>{{
            contactsService.getGroupName(
              contactsService.contactsData.currentGroup
            )
          }}</span>
        </p>
        <input
          type="text"
          tabindex="-1"
          id="change-group-name"
          ng-model="contactsService.contactsData.currentGroup.name"
          ng-show="contactsService.showEditBox"
          ng-class="{'has-border':contactsService.contactsData.currentGroup.name,'input-error animated swing':!contactsService.contactsData.currentGroup.name}"
          ng-blur="contactsService.changeName(contactsService.contactsData.currentGroup._id)"
          ng-change="changeNameValidator()"
          ng-keyup="$event.keyCode == 13 ? contactsService.changeName(contactsService.contactsData.currentGroup._id) : null"
          class="{{ errClass }}"
        />
        <div class="elipsis">
          <p
            class="rename"
            ng-show="contactsService.contactsData.currentGroup._id != 'all' && !contactsService.showEditBox"
            ng-click="contactsService.showEditNameInput()"
          >
            {{ trans("click_to_rename") }}
          </p>
        </div>
      </div>
      <p ng-if="contactsService.contactsData.currentGroup._id != 'all'">
        {{ trans("created_on") }}:
        <span>{{
          contactsService.changeDateString(
            contactsService.contactsData.currentGroup.created_at
          )
        }}</span>
      </p>
    </div>
    <div class="charts" ng-hide="contactsService.fakeChart">
      <div id="ct-chart" class="ct-chart ct-golden-section">
        <div class="info">
          <div ng-click="filterBy('delivered')">
            <i class="ball green"></i
            >{{ trans("campaign_overview_index_delivered") }}
          </div>
          <div ng-click="filterBy('not_delivered')">
            <i class="ball red"></i
            >{{ trans("campaign_statistics_not_delivered") }}
          </div>
        </div>
        <div class="fake_chart" ng-if="contactsService.fakeChart"></div>
      </div>
    </div>
    <div class="bars"></div>
  </div>
  <div
    class="col-xs-12 table_styled"
    ng-class="{loading: contactsService.removingGroupsLoader}"
  >
    <table
      ng-init="contactsService.tableInit()"
      class="table"
      class="my-table"
      id="myTable"
      class="table contact_include_table"
    >
      <thead>
        <tr>
          <th class="pointer search">
            <div
              id="toggleSearch"
              class="icon_holder"
              ng-click="contactsService.toggleSearch()"
            >
              <i class="fa fa-search" id="toggleSearch"></i>
            </div>
            <div
              class="search_input_holder animated"
              id="toggleSearch"
              ng-class="{'fadeInLeft show': importantShowSearch && contactsService.showSearch}"
            >
              <input
                type="text"
                ng-keypress="contactsService.enterPress($event)"
                class="table_input"
                placeholder="{{ trans('search_filter_by_phonenumber') }}"
                ng-model="contactsService.filterOrAddData"
                id="toggleSearch"
                name="addressbook-group-filter"
              />
              <div class="btn_holder" id="toggleSearch">
                <div
                  class="btn_delete"
                  ng-show="contactsService.filterOrAddData.length"
                  id="toggleSearch"
                >
                  <i
                    ng-click="contactsService.clearSearch()"
                    class="fa fa-times-circle"
                    id="toggleSearch"
                  ></i>
                </div>
                <button
                  id="toggleSearch"
                  ng-click="contactsService.filterContacts()"
                  class="btn btn-success btn_search"
                >
                  {{ trans("search") }}
                </button>
              </div>
            </div>
          </th>
          <th class="cursor-default">
            <div
              ng-hide="contactsService.disableSelectAll"
              class="callburn-checkbox-white"
            >
              <!-- <input type="checkbox" id="discount-code-checkbox" ng-click="contactsService.selectAllContacts(contactsService.contactsData.contacts)" ng-checked="contactsService.checkedAllContacts"> -->
              <input
                type="checkbox"
                id="discount-code-checkbox"
                ng-click="contactsService.selectAllContacts()"
                ng-checked="contactsService.checkedAllContacts"
              />
              <label for="discount-code-checkbox"> </label>
            </div>
          </th>
          <th class="cursor-default">{{ trans("contact_phone_number") }}</th>
          <th class="cursor-default">{{ trans("name") }}</th>
          <th class="cursor-default">{{ trans("created_on") }}</th>
          <th class="cursor-default">
            {{ trans("campaign_overview_index_status") }}
          </th>
        </tr>
      </thead>
      <tbody ng-show="!contactsService.tableSpinnerLoading" id="wrapper">
        <tr ng-repeat="contact in contactsService.contactsData.contacts">
          <td></td>
          <td>
            <div class="callburn-checkbox-white">
              <input
                type="checkbox"
                id="discount-code-checkbox-{{ contact._id }}"
                ng-disabled="contact.in_progress "
                ng-click="contactsService.selectOrRemoveContact(contactsService.selectedContacts, contact)"
                ng-checked="contactsService.selectedContacts[contact._id] || contactsService.isAllSelected"
              />
              <label for="discount-code-checkbox-{{ contact._id }}"> </label>
            </div>
          </td>
          <td>
            <img
              ng-src="/assets/callburn/images/flags/{{
                contact.tariff.country.code
              }}.svg"
              alt="flag"
            />
            <span class="number">+{{ contact.phone_number }}</span>
          </td>
          <td>
            <span uib-tooltip="{{ contact.name }}">
              {{ contact.name || "--" }}
            </span>
          </td>
          <td>{{ contactsService.changeDateString(contact.created_at) }}</td>
          <td>
            <span
              ng-if="contact.phonenumber && contact.phonenumber.campaign.campaign_name && contact.phonenumber.last_called_at"
            >
              {{ trans("called_on") }}
              {{ contact.phonenumber.campaign.campaign_name }}
              {{ trans("compose_step_3_on") }}
              {{ contact.phonenumber.last_called_at }}
            </span>
            <span ng-if="!contact.phonenumber">--</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table_info" ng-show="!contactsService.tableSpinnerLoading">
      <div class="left_info">
        <item-counter-per-page
          total-items="contactsService.contactsData.count"
          page="contactsService.contactsData.page"
          items-per-page="50"
          class="page_counter"
        ></item-counter-per-page>
        <p
          ng-show="contactsService.showEverything && contactsService.showSearchVal"
          class="value"
        >
          -
        </p>
        <p class="value">
          {{
            contactsService.showEverything && contactsService.showSearchVal
              ? "”" + contactsService.searchVal + "”"
              : ""
          }}
        </p>
        <p
          ng-show="contactsService.showEverything && contactsService.showSearchVal"
          class="value"
        >
          -
        </p>
        <p
          class="show_everything"
          ng-show="contactsService.showEverything"
          ng-click="contactsService.clearSearch()"
        >
          {{ trans("show_everything") }}
        </p>
      </div>
      <div class="scroll_down" ng-show="!contactsService.tableSpinnerLoading">
        <i
          ng-click="contactsService.scrollDown()"
          ng-show="tableToElement < contactsService.contactsData.count && !contactsService.showMoreLoader"
          class="fa fa-angle-double-down wobble_effect"
        ></i>
        <img
          ng-show="contactsService.showMoreLoader"
          src="assets/callburn/images/images/blue-audio-spinner.svg"
          alt=""
        />
      </div>
      <div class="top_text">
        <p>
          <span
            ng-show="!contactsService.isAllSelected && tableToElement !== contactsService.contactsData.count"
            ng-click="contactsService.selectAllContacts()"
            ng-class="{all_selected: contactsService.checkedAllContacts}"
            >{{
              contactsService.checkedAllContacts
                ? trans("unselect")
                : trans("select")
            }}
            {{ contactsService.contactsData.count ? tableToElement : 0 }}
            {{ trans("page_counter_items_1") }}</span
          >
          <i
            ng-if="!contactsService.isAllSelected && tableToElement !== contactsService.contactsData.count"
            >-</i
          >
          <span
            ng-click="contactsService.selectSearchedContacts()"
            ng-class="{all_selected: contactsService.isAllSelected}"
          >
            {{
              !contactsService.isAllSelected
                ? trans("select")
                : trans("unselect")
            }}
            {{ contactsService.contactsData.count }}
            {{ trans("page_counter_items_1") }}</span
          >
        </p>
        <p>
          {{ contactsService.contactsData.allContactsOfGroupCount }}
          {{ trans("engaines_dashboard_dashboard_here_is_the_overall") }}
        </p>
      </div>
    </div>

    <!-- <div class="col-xs-12 centerd">
			<div class="row">
				<uib-pagination ng-show="contactsService.contactsData.count > 30" ng-if="isLoadedPage" total-items="contactsService.contactsData.count" ng-model="pages" max-size="3" class="pagination-sm list-unstyled" boundary-link-numbers="true" items-per-page="30" ng-change="contactsService.changePage(pages - 1)" next-text="{{trans('next')}}" previous-text="{{trans('back')}}"></uib-pagination>
			</div>
		</div> -->
  </div>
  <div
    class="campaign-create-spinner"
    ng-show="contactsService.tableSpinnerLoading"
  >
    <img src="/assets/callburn/images/images/blue-audio-spinner-big.svg" />
  </div>
  <div
    class="campaign-create-spinner campaign-delete-spinner"
    ng-show="contactsService.removingGroupsLoader"
  >
    <img
      width="200"
      src="/assets/callburn/images/images/gray-audio-spinner.svg"
    />
  </div>
</div>
