<!-- ADD TO GROUP MODAL -->
<div class="customize-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="hideOverlay()"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{trans('button_add_to_group')}}</h4>
    </div>
    <div class="modal-body">
        <div class="modal_window">
            <div class="modal_container">
                <div class="modal_select_container modal_select_container1">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="form-group custom-group">
                                <input type="text" placeholder="{{trans('addressbook_groups_input_placeholder_1')}}"
                                       ng-model="attachContactsData.name" class="add_group_modal_input form-control">
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">

                            <button class="btn btn-default full-width callburn-gray-button" ng-click="addGroup()">{{trans('modals_addressbook_modal_add_modal_addGroup_create_group')}}</button>


                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="form-group custom-group" ng-class="selectedStyle">
                                <callburn-select ng-model="attachContactsData.group_id"
                                                 options="groups"
                                                 show-attr="name"
                                                 keep-attr='_id'
                                                 ng-change="groupSelected()"
                                                 select-text="{{trans('addressbook_contacts_select')}}">
                                </callburn-select>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary full-width" ng-click="attachToGroup()">{{trans('button_add_to_group')}}</button>
    </div>
</div>

<!-- END ADD TO GROUP MODAL -->