<!-- ADD TO GROUP MODAL -->
<div class="customize-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="hideOverlay()"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{groupName}}</h4>
        <span>{{total}} {{trans('modals_addressbook_modal_frineds_modal_contacs')}}</span>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead>
            <tr>
                <th>{{trans('modals_addressbook_modal_frineds_modal_phonenumber')}}</th>
                <th>{{trans('modals_addressbook_modal_frineds_modal_name')}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contact in contacts">
                <td>
                    <div class="pull-left">
                        <img ng-src="/assets/callburn/images/flags/{{contact.tariff.country.code}}.svg"
                             alt="play button">
                    </div>
                    <div class="pull-left phone">
                        <span>+{{contact.phone_number}}</span>
                    </div>
                </td>
                <td class="phonenumbers_content">
                    <span>{{ contact.name ?
                        contact.name : trans('modals_addressbook_frineds_add_name') }}</span>
                </td>
                <td>
                    <div class="pull-right">
                        <a data-ng-click="removeOneContact(contact._id)" class="blocked"><img
                                src="/assets/callburn/images/images/icons-trash@3x.svg"
                                alt=""></a>
                    </div>
                </td>

            </tr>


            </tbody>
        </table>


    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3">
                <div class="row">
                    <uib-pagination ng-if="total > 0" total-items="total"
                                    ng-model="pages"
                                    max-size="3"
                                    class="pagination-sm list-unstyled"
                                    boundary-link-numbers="true" ng-change="changePage(pages - 1)"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END ADD TO GROUP MODAL -->