<div class="customize-modal">
    <div class="modal-body">
        <div class="modal_window">
            <div class="modal_container">
                <div class="modal_select_container billing-margint-top text-center">
                    <div ng-repeat="snippet in snippets">
                        <span>{{ trans('invoice_billing_data_snippet') }} "{{ snippet.name }}"</span>
                        <span>€{{ snippet.purchasedSum | number: 2}}</span>
                        <span ng-show="snippet.giftSum !== 0"> | {{ trans('account_invocies_billings_gift') }} (€-{{ snippet.giftSum | number: 2}})</span>
                    </div>
                    <br>
                    <div ng-repeat="message in messages">
                        <span>{{ trans('invoice_billing_data_message2') }}</span>
                        <span ng-show="message.campaign_name"> "{{ message.campaign_name }}"</span>
                        <span> €{{ message.purchasedSum | number: 2}}</span>
                        <span ng-show="message.giftSum !== 0"> | {{ trans('account_invocies_billings_gift') }} (€-{{ message.giftSum | number: 2}})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn full-width " data-ng-click="hideOverlay()" >{{trans('button_close')}}</button>
    </div>
</div>