<!-- ADD TO GROUP MODAL -->
<div class="customize-modal settings-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="hideOverlay()"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{trans('call_click_to_call_show_all_attempts')}}</h4>
    </div>
    <div class="modal-body">
        <div class="modal_window">
            <div class="modal_container ">
                <div class="modal_select_container modal_select_container1">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>
                               {{trans('date__time')}}
                            </td>
                            <td>
                                {{trans('campaign_statistics_status')}}
                            </td>
                            <td>
                                {{trans('_duration')}}
                            </td>
                            <td>
                                {{trans('campaign_overview_index_cost')}}
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="call in calls | orderBy: '-created_at'">
                            <td>
                                {{call.dialled_datetime}}
                            </td>
                            <td>
                                {{getTranslatedStatus(call.call_status)}}
                            </td>
                            <td>
                                {{call.duration}}
                                <span ng-if="call.transfer">({{call.transfer.duration}})</span>
                            </td>
                            <td>
                                {{call.cost}}
                                <span ng-if="call.transfer && call.transfer.billing">({{call.transfer.billing.billed_from_gift + call.transfer.billing.billed_from_purchased}})</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <a class="send-again" ng-show="showCallCodeField" ng-click="sendVerificationCall()" ng-disabled="!newCallerId.phonenumber.$valid">{{trans('account_settings_send_again')}}</a>
    <div class="text-center color_white">
        <button type="" class="btn btn-lg button_padding_60px" ng-click="close()">Close</button>
    </div>
</div>

<!-- END ADD TO GROUP MODAL -->