<div class="customize-modal new_modal_style">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{trans('modals_settings_edit_profile_modal_edit_your_profil')}}</h4>
        <i data-ng-click="hideOverlay()" class="fa fa-times"></i>
    </div>
    <div class="modal-body">
        <div class="modal_window">
            <form>
                <div class="modal_container">
                    <div class="modal_select_container modal_select_container1 edit-profile-container">
                        <div class="edit-prof-holder" data-ng-class="{'has-info':Name}">
                            <input type="text" ng-class="{'has-type':userEditableData.personal_name}" placeholder="{{trans('modals_settings_edit_profile_modal_user_name')}}" ng-model="userEditableData.personal_name" class="inp-placeholder" ng-focus="Name=true;" ng-blur="Name=false;" name="full_name">
                            <label for="full_name" class="lab-placeholder">
                                {{trans('modals_settings_edit_profile_modal_name')}}
                            </label> 
                        </div>
                        <div class="edit-prof-holder" data-ng-class="{'has-info':BD}">
                            <datepicker date-format="yyyy-MM-dd" selector="inp-placeholder">
                                <input class="{{dateErrClass}} inp-placeholder has-type" placeholder="{{trans('modals_settings_edit_profile_modal_birth_date')}}" autocomplete="off" ng-model="userEditableData.birthday" name="date_picker" type="date" date-typer="true" max="{{maxInputDate}}" min="1900-01-01">
                                <label for="date_picker" class="lab-placeholder">
                                    {{trans('modals_settings_edit_profile_modal_birth_date')}}
                                </label>
                            </datepicker>
                        </div>
                        <div class="edit-prof-holder" uib-tooltip="{{currentUser.social?trans('since_you_are_accessing_through_social_you_cannot_modify_this_setting'):''}}" data-ng-class="{'has-info':showEmailAddres}">
                            <input type="email" placeholder="{{trans('modals_settings_edit_profile_modal_email_address')}}" ng-class="{'has-type':userEditableData.email}" ng-change="emailConfirmationChecker()" ng-disabled="currentUser.social" ng-model="userEditableData.email" class="inp-placeholder" ng-focus="showEmailAddres=true;" ng-blur="showEmailAddres=false;" name="edit-prof-email">
                            <label for="edit-prof-email" class="lab-placeholder">
                                {{trans('modals_settings_edit_profile_modal_email_address')}}
                            </label>
                        </div>
                        <!--<div class="edit-prof-holder">
                            <callburn-select
                                ng-change="changeNewslatterEmail(userEditableData.newsletter_email)"
                                ng-model="userEditableData.newsletter_email"
                                options="socialConnectionEmails"
                                show-attr="selectView"
                                keep-attr="showView"
                                select-text="{{ userEditableData.newsletter_email ? userEditableData.newsletter_email : trans('user_settings_select_newspaper_email')}}"
                            ></callburn-select>
                        </div>-->
                        <div class="edit-prof-holder error-msg-holder {{errorClass}}" data-ng-if="userEditableData.email!=currentUser.email" ng-class="{'has-info':showEmail}" uib-tooltip="{{currentUser.social?trans('since_you_are_accessing_through_social_you_cannot_modify_this_setting'):''}}">
                            <div class="input-error-name "> {{emailErrMessage}} </div>
                            <input type="text" ng-change="emailConfirmationChecker()" ng-disabled="currentUser.social"  placeholder="Confirm email address" ng-class="{'has-type':userEditableData.email_confirmation}" ng-model="userEditableData.email_confirmation" class="input-info-err" ng-focus="showEmail=true;" ng-blur="showEmail=false;" name="email_confitm">
                        </div>
                        <div class="">
                            <div uib-tooltip="{{currentUser.social?trans('since_you_are_accessing_through_social_you_cannot_modify_this_setting'):''}}">
                                <a class="btn btn-primary btn-block" type="button" ng-disabled="currentUser.social" ng-click="passEditCollapseDisable()">{{trans('modals_settings_edit_profile_modal_edit_password')}}</a>
                            </div>
                        </div>
                        <div class="conf-pass" uib-collapse="passEditCollapse">
                            <div class="edit-prof-holder confPass" uib-collapse="passEditCollapse" data-ng-class="{'has-info':currentPass}">
                                <input type="password" placeholder="{{trans('modals_settings_edit_profile_modal_current_password')}}" ng-disabled="currentUser.social" class="inp-placeholder" ng-class="{'has-type':userEditableData.old_password}" ng-focus="currentPass=true;" ng-blur="currentPass=false;" ng-model="userEditableData.old_password" name="current_pass">
                                <label for="current_pass" class="lab-placeholder">
                                    {{trans('modals_settings_edit_profile_modal_current_password')}}
                                </label>
                            </div>
                            <div class="edit-prof-holder confPass" data-ng-class="{'has-info':newPass}" uib-tooltip="{{currentUser.social?trans('since_you_are_accessing_through_social_you_cannot_modify_this_setting'):''}}">
                                <input type="password" ng-class="{'has-type':userEditableData.new_password}" ng-disabled="currentUser.social" ng-change="passwordConfirmationChecker()" placeholder="{{trans('modals_settings_edit_profile_modal_new_password')}}" ng-model="userEditableData.new_password" class="inp-placeholder" ng-focus="newPass=true;" ng-blur="newPass=false;" name="new_password">
                                <label for="new_password" class="lab-placeholder">
                                    {{trans('modals_settings_edit_profile_modal_new_password')}}
                                </label>
                            </div>
                            <div ng-show="userEditableData.new_password" class="edit-prof-holder error-msg-holder {{passErrClass}}" uib-tooltip="{{currentUser.social?trans('since_you_are_accessing_through_social_you_cannot_modify_this_setting'):''}}">
                                <div class="input-error-name "> {{passErrMessage}} </div>
                                <input type="password" placeholder="{{trans('modals_settings_edit_profile_modal_confirm_new_password')}}" ng-disabled="currentUser.social" ng-change="passwordConfirmationChecker()" ng-model="userEditableData.new_password_confirmation" class="input-info-err" ng-focus="confirmPass=true;" ng-blur="confirmPass=false;">
                            </div>
                        </div>
                        <div class="edit-prof-holder company_name" data-ng-class="{'has-info':companyName}">
                            <input type="text" placeholder="{{trans('modals_settings_edit_profile_modal_company_name')}}" ng-class="{'has-type':userEditableData.company_name}" ng-model="userEditableData.company_name" class="inp-placeholder" ng-focus="companyName=true;" ng-blur="companyName=false;" name="company_name">
                            <label for="company_name" class="lab-placeholder">
                                {{trans('modals_settings_edit_profile_modal_company_name')}}
                            </label>
                        </div>
                        <div class="edit-prof-holder" data-ng-class="{'has-info':Address}">
                            <input type="text" ng-class="{'has-type':userEditableData.address}" placeholder="{{trans('modals_settings_edit_profile_modal_address')}}" ng-model="userEditableData.address" class="inp-placeholder" ng-focus="Address=true;" ng-blur="Address=false;" name="user_address">
                            <label for="user_address" class="lab-placeholder">
                                {{trans('modals_settings_edit_profile_modal_address')}}
                            </label>
                        </div>
                        <div class="edit-prof-holder" data-ng-class="{'has-info':city}">
                            <input type="text" ng-class="{'has-type':userEditableData.city}" placeholder="{{trans('modals_settings_edit_profile_modal_city')}}" ng-model="userEditableData.city" class="inp-placeholder" ng-focus="city=true;" ng-blur="city=false;" name="city">
                            <label for="city" class="lab-placeholder">
                                {{trans('modals_settings_edit_profile_modal_city')}}
                            </label>
                        </div>
                        <div class="edit-prof-holder" data-ng-class="{'has-info':PostalCode}">
                            <input type="text" placeholder="{{trans('modals_settings_edit_profile_modal_postal_code')}}" ng-class="{'has-type':userEditableData.postal_code}" ng-model="userEditableData.postal_code" class="inp-placeholder" ng-focus="PostalCode=true;" ng-blur="PostalCode=false;" name="postal_code">
                            <label for="postal_code" class="lab-placeholder">
                                {{trans('modals_settings_edit_profile_modal_postal_code')}}
                            </label>
                        </div>
                        <div class="edit-prof-holder country_select select-second-type one-span-is-blue" ng-class="{'has-border':userEditableData.country}">
                            <span class="span-blue">{{trans('modals_settings_edit_profile_modal_country')}}</span>
                            <ui-select ng-model="userEditableData.country" theme="bootstrap" id="code" ng-click="setInputFocusCountry()" on-select="countryChanged(userEditableData.country);" title="{{trans('modals_settings_edit_profile_modal_choose_country')}}...">
                                <ui-select-match placeholder="{{trans('modals_settings_edit_profile_modal_choose_country')}}...">
                                    <img ng-if="$select.selected[1] !== undefined" width="30" ng-src="/assets/callburn/images/inter_flags/{{userEditableData.country[1]}}.svg" alt="">
                                    <img ng-if="$select.selected[1] === undefined" width="30" ng-src="/assets/callburn/images/inter_flags/{{currentUser.country_code}}.svg" alt="">
                                    <span style="color: #404040;">
                                        {{$select.selected[1] !== undefined ? userEditableData.country[0] : currentUser.country.name}}
                                    </span>
                                    <span class="num_prefix">
                                        (+{{$select.selected[1] !== undefined ? userEditableData.country[2] : currentUser.country.phonenumber_prefix}})
                                    </span>
                                </ui-select-match>
                                <ui-select-choices repeat="country in countries | filter: $select.search" ng-click="keepObject ? valueSelected(option,option,$index) : valueSelected(option[showAttr],option[keepAttr],$index)">
                                    <img width="20px" ng-src="/assets/callburn/images/inter_flags/{{country[1]}}.svg" alt="">
                                    <span class="country_name" ng-bind-html="country[0] | highlight: $select.search" ></span>
                                    <span class="ng-hide" ng-bind-html="country[1] | highlight: $select.search"></span>
                                    <span ng-bind-html="'+' + country[2]" class="num_prefix"></span>
                                </ui-select-choices>
                            </ui-select>
                            <br>
                        </div>
                        <div class="clearfix"></div>
                        <div class="edit-prof-holder" data-ng-class="{'has-info':VAT}">
                            <input type="text" placeholder="{{trans('account_settings_vat_id')}}" ng-model="userEditableData.vat" ng-class="{'has-type':userEditableData.vat}" class="inp-placeholder change-form-control finaces-vat-code" ng-focus="VAT=true;" ng-blur="VAT=false;" name="vat_id">
                            <label for="vat_id" class="lab-placeholder">
                                {{trans('modals_settings_edit_profile_modal_vat_id')}}
                            </label>
                            <span id="span-sdom-prefix">
                                {{currentUser.country_code | uppercase}}
                            </span>
                            <a ui-sref="account.financials" ng-click="hideOverlay()" class="vatId_link" ng-if="userEditableData.vat">
                                {{trans('want_to_check_vat_id?')}}
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <button type="submit" class="btn btn-success full-width" ng-click="editMainDetails()" ng-disabled="userEditableData.new_password!=userEditableData.new_password_confirmation || dateError || backgroundProcess">{{trans('modals_settings_edit_profile_modal_update_profile')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>