<!-- ADD TO GROUP MODAL -->
<div class="customize-modal" id="access-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="hideOverlay();logOut()"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            <b> {{trans('access_denied')}}</b>
        </h4>
    </div>
    <div class="modal-body">
        <div class="modal_window">
            <div class="modal_container">
                <div class="modal_select_container text-center">
                    <p>
                        {{text}}
                    </p>

                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success full-width delete-confirm-button-1" ng-click="contact()" >{{trans('go_to_contact_us_page')}}</button>
    </div>

</div>
<!-- END ADD TO GROUP MODAL -->