<div>
	<div class="modal-body">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="close()"><span aria-hidden="true"><img src="assets/callburn/images/snippets/exit_icon.svg"></span>
		</button>
		<!--<div class="text-center">-->
			<!--<h3 class="modal-title" id="myModalLabel">{{trans('confirm_snippet_creation')}}</h3>-->
		<!--</div>-->
		<br>
		<div class="text-center">
			<h4 class="callburn_blue">{{trans('your_snippet_is_now_created_and_ready_for_the_integration')}}!</h4>
		</div>
		<div ng-show="imgQRCodeURL">
			<img ng-src="{{ imgQRCodeURL }}">
			<a href="{{ imgQRCodeURL }}" download>{{ trans('downloade_qr_code') }}</a>
		</div>
		<div ng-if="subdomain">
			<div class="text-center">
				<div>
					<button class="btn btn-info" ng-click="showTargetEmailInput = !showTargetEmailInput">{{trans('send_integr_code')}}</button>
					<br>
					<div uib-collapse="!showTargetEmailInput">
						<div class="send_integr_holder">
							<input ng-model="emailToSendIntegrationCodes" class="inp-placeholder" type="text" placeholder="Email" name="send_integr" ng-class="{'has-type': emailToSendIntegrationCodes}">
							<label for="send_integr" class="lab-placeholder">{{trans('send_integr_code')}}</label>
							<button class="btn btn-primary">
								{{trans('send_email')}}
							</button>						
						</div>
					</div>
				</div>
				<h5>{{trans('shareable_url')}}:</h5>
			</div>
			<div class="copy-text-flex copy-text-flex1">
				<div class="col-md-9 col-sm-9 col-xs-8" id="js_area">
					<div class="font-size-20px" id="shareable_url">
						{{trans('ctc_callmecallburncom_localname')}}{{subdomain}}
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-4">
					<span class="js-textareacopybtn" ngclipboard data-clipboard-target="#shareable_url" ng-click="copyEffect(1)">
						<span class="ctc-inline-block {{copyEffectPart == 1 ? copyEffectClass : ''}}">
							{{trans('copy')}}!
						</span>
					</span>
				</div>
			</div>
		</div>


		<div class="text-center not-all" ng-show="!showAll">
			<br><br>
			<p>
				{{trans('manual_integrations_and_plugins_are_not_shown')}}

				<a ng-click="close()" ui-sref="snippet.edit({ _id: snippetId })">
					{{trans('click_here_to_add_one')}}
				</a>
			</p>
		</div>
		<div class="all" ng-show="showAll">

			<hr class="thick_hr">
			<div class="text-center">
				<h4 class="callburn_blue">{{trans('open_version')}}</h4>
			</div>
			<div class="table-responsive">
				<div class="snippet snippet1 ">
					<div class="logo-snippet"><img ng-src="{{snippetImagePath}}" class="snippet-img-centering">
					</div>
					<div class="snippet-text">
						<p class="tm text-center">{{trans('want_to_talk_with_us')}}
							<br> {{trans('lets_do_it')}} <i>{{trans('ctc_now')}}</i>, {{trans('ctc_totally')}} <strong>{{trans('ctc_free')}}</strong> {{trans('of_charge_')}} </p>
						<p class="ts text-center">{{trans('tell_us_your_phonenumber_and_we_will')}}
							<br> <i>#{{trans('call')}}</i> {{trans('you_just_immediately')}}</p>
					</div>
					<div class="snippet-form">
						<div class="inline-element">
							<div class="left">
								<div>
                                <span class="front-flag" ng-click="dropdownOpen = !dropdownOpen">
                              <img src="{{choice ? choice.flagImage  : frontCountry.flagImage}}"><span>{{choice ? choice.countryPrefix : frontCountry.countryPrefix}}</span>
                                </span>
								</div>
							</div>
							<input type="text" class="right" placeholder="{{trans('insert_your_phone_number')}}">
						</div>
						<div class="rel-box">
							<div ng-show="dropdownOpen" class="snippet-dropdown-content-holder">
								<ul ng-repeat="callRoute in callRoutes" ng-if="checkInArray(snippetData.countries, callRoute._id)" class="snippet-dropdown-content-list">
									<li class="country-list-element">
                                    <span class="country-list-inside" ng-click="replaceToFrontCountry(callRoute._id); status.dropdownOpen = !status.dropdownOpen">
                            <img src="{{callRoute.flagImage}}" alt=""><span>{{callRoute.countryPrefix}}</span>
                                    </span>
									</li>
								</ul>
							</div>
						</div>
						<button class="call-green">{{trans('call_me_now_button')}}</button>
						<p class="txs text-center">{{trans('by_clicking_above_button_you_agree_to_the')}} <a class="lnk_grey_underlined" href="">{{trans('terms__conditions')}}</a>
						</p>
						<p class="ts text-center">{{trans('cannot_answer_now_')}}
							<br> {{trans('try_to_')}} <a href="#">{{trans('schedule_this_call_later_')}}</a>
						</p>
					</div>
					<div class="footer text-right">
						{{trans('powered')}} &hearts; {{trans('by')}} <img src="/assets/callburn/images/callburn_logo.svg" alt="">
					</div>
				</div>
			</div>

			<br>
			<div class="text-center">
				<h4><span class="callburn_blue">{{trans('manual_integration')}}</span> (HTML CODE)</h4>
			</div>
			<div class="copy-text-flex">
				<div class="col-md-9 col-sm-9 col-xs-8 js_scrollbar js-copytextarea" id="js_area">
					<div class="font-size-16px" id="api_js1">
						{{javascript[0]}}
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-4 ">
					<span class="js-textareacopybtn" ngclipboard data-clipboard-target="#api_js1" ng-click="copyEffect(2)">
						<span class="ctc-inline-block {{copyEffectPart == 2 ? copyEffectClass : ''}}">
							{{trans('copy')}}!
						</span>
					</span>
				</div>
			</div>
			<div class="text-center">
				<h4><span class="callburn_blue">{{trans('plugins_for')}}</span> Wordpress, Joomla!, Magento & Prestashop</h4>
				<br>
				<a href="" title="" ng-click="downloadWordPressPlugin(1)"><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Wordpress.svg" alt="">
				</a>
				<a class="plugins" href="" title=""><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Joomla.svg" alt="" uib-tooltip="{{trans('coming_soon')}}">
				</a>
				<a class="plugins" href="" title=""><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Magento.svg" alt="" uib-tooltip="{{trans('coming_soon')}}">
				</a>
				<a class="plugins" href="" title=""><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Prestashop.svg" alt="" uib-tooltip="{{trans('coming_soon')}}">
				</a>
			</div>
			<br>
			<hr class="thick_hr">
			<!-- semi open -->
			<div class="text-center">
				<h4 class="callburn_blue">{{trans('semiopen_version')}}</h4>
			</div>
			<div class="snippet snippet-sm">
				<div class="logo"><img ng-src="{{snippetImagePath}}" class="snippet-img-centering">
				</div>
				<a href="">&#60;&#60;</a>
				<p class="text-center">{{trans('want_to_talk_with_us')}}</p>
			</div>
			<br>
			<div class="text-center">
				<h4><span class="callburn_blue">{{trans('manual_integration')}}</span> (HTML CODE)</h4>
			</div>
			<div class="copy-text-flex">
				<div class="col-md-9 col-sm-9 col-xs-8 js_scrollbar js-copytextarea" id="js_area">
					<div class="font-size-16px" id="api_js2">
						{{javascript[1]}}
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-4">
					<span class="js-textareacopybtn" ngclipboard data-clipboard-target="#api_js2" ng-click="copyEffect(3)">
						<span class="ctc-inline-block {{copyEffectPart == 3 ? copyEffectClass : ''}}">{{trans('copy')}}!</span>
					</span>
				</div>
			</div>
			<div class="text-center">
				<h4><span class="callburn_blue">{{trans('plugins_for')}}</span> Wordpress, Joomla!, Magento & Prestashop</h4>
				<br>
				<a href="" title="" ng-click="downloadWordPressPlugin(2)"><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Wordpress.svg" alt="">
				</a>
				<a class="plugins" href="" title=""><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Joomla.svg" alt="" uib-tooltip="{{trans('coming_soon')}}">
				</a>
				<a class="plugins" href="" title=""><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Magento.svg" alt="" uib-tooltip="{{trans('coming_soon')}}">
				</a>
				<a class="plugins" href="" title=""><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Prestashop.svg" alt="" uib-tooltip="{{trans('coming_soon')}}">
				</a>
			</div>
			<!-- closed version -->
			<br>
			<hr class="thick_hr">
			<div class="text-center">
				<h4 class="callburn_blue">{{trans('closed_version')}}</h4>
			</div>
			<div class="text-center">
				<div class="snippet snippet-xs">
					<div class="logo"><img ng-src="{{snippetImagePath}}" class="snippet-img-centering">
					</div>
					<div class="snippet-popover">{{trans('want_to_talk_with_us')}}</div>
				</div>
			</div>
			<br>
			<div class="text-center">
				<h4><span class="callburn_blue">{{trans('manual_integration')}}</span> (HTML CODE)</h4>
			</div>
			<div class="copy-text-flex">
				<div class="col-md-9 col-sm-9 col-xs-8 js_scrollbar js-copytextarea" id="js_area">
					<div class="font-size-16px" id="api_js3">
						{{javascript[2]}}
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-4 plpr0">
					<span class="js-textareacopybtn" ngclipboard data-clipboard-target="#api_js3" ng-click="copyEffect(5)">
						<span class="{{copyEffectPart == 5 ? copyEffectClass : ''}}">
							<span class="ctc-inline-block {{copyEffectPart == 5 ? copyEffectClass : ''}}">{{trans('copy')}}!</span>
						</span>
					</span>
				</div>
			</div>
			<div class="text-center">
				<h4><span class="callburn_blue">{{trans('plugins_for')}}</span> Wordpress, Joomla!, Magento & Prestashop</h4>
				<br>
				<a href="" title="" ng-click="downloadWordPressPlugin(3)"><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Wordpress.svg" alt="">
				</a>
				<a class="plugins" href="" title=""><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Joomla.svg" alt="" uib-tooltip="{{trans('coming_soon')}}">
				</a>
				<a class="plugins" href="" title=""><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Magento.svg" alt="" uib-tooltip="{{trans('coming_soon')}}">
				</a>
				<a class="plugins" href="" title=""><img src="/assets/callburn/images/click_to_call_icons/plugins-icons/Prestashop.svg" alt="" uib-tooltip="{{trans('coming_soon')}}">
				</a>
			</div>
			<br>
			<hr class="thick_hr">

		</div>

		<div class="text-center">
			<p>
				{{trans('you_can_show_this_code_whenever_you_want_from_the_list_of_available')}}
				<br> {{trans('actions_in')}} <span class="callburn_blue">{{trans('snippets_overview_table')}}</span>
			</p>
			<br>
			<p>
			<h4>{{trans('voice_message_sent_modal_text_thank_you_for')}}</h4>
			</p>
		</div>
		<br>

		<!-- Invisible version -->
			<div class="text-center">
				<h4 class="callburn_blue">{{trans('invisible_version')}}</h4>
			</div>
			<br>
			<div class="text-center">
				<h4><span class="callburn_blue">{{trans('manual_integration')}}</span> (HTML CODE)</h4>
			</div>
			<div class="copy-text-flex">
				<div class="col-md-9 col-sm-9 col-xs-8" id="js_area">
					<div class="font-size-16px" id="api_js4">
						{{javascript[3]}}
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-4">
					<span class="js-textareacopybtn" ngclipboard data-clipboard-target="#api_js4" ng-click="copyEffect(6)">
						<span class="ctc-inline-block {{copyEffectPart == 6 ? copyEffectClass : ''}}">{{trans('copy')}}!</span>
					</span>
				</div>
			</div>
		</div>

		<br>
		<hr class="thick_hr">
		<br>

		<div class="text-center color_white">
			<button type="" class="btn btn-lg btn-info button_padding_60px" ng-click="close()">{{trans('close')}}</button>
		</div>
		<br>
	</div>
</div>