<!-- ADD TO GROUP MODAL -->
<div class="customize-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="hideOverlay()"><span
            aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            <b> {{trans('Holiday Mode')}}</b>
        </h4>
    </div>

    <div class="modal-body" style="max-height: 195px;">
        <toggle ng-model="isActiveHolidayMode" ></toggle>
        <div class="" style="">
            <div uib-collapse="!isActiveHolidayMode">
                <h4>{{trans('holiday_mode_gives_you_the_ability_to_deny')}}</h4>
                <div class="modal_container">
                    <div class="form-inline">
                        <div class="form-inline-item col-sm-3 col-sm-offset-3 col-xs-6 col-xs-offset-3" style="">
                            <label class="" for="from">From:</label>
                            <datepicker date-format="dd.MM.yyyy" selector="form-control" >
                                <input class="form-control" autocomplete="off" ng-model="holidayModeFrom" type="text"  id="from" ng-change="changed(holidayModeFrom, holidayModeTo)" style="height: 30px;padding-left: 25px;"><i class="fa fa-calendar" aria-hidden="true"></i>
                            </datepicker>
                        </div>

                        <div class="form-inline-item col-sm-3 col-sm-offset-0 col-xs-6 col-xs-offset-3" style="">
                            <label class="" for="to">To:</label>
                            <!--<div class="input-group-addon">@</div>-->
                            <datepicker date-format="dd.MM.yyyy" selector="form-control">
                                <input class="form-control" ng-class="wrongDateRange" autocomplete="off" ng-model="holidayModeTo" type="text"  id="to" ng-change="changed(holidayModeFrom, holidayModeTo)" style="height: 30px;padding-left: 25px;"><i class="fa fa-calendar" aria-hidden="true"></i>
                            </datepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button style="margin-top: -15px;" data-ng-disabled="wrongDateRange" class="full-width btn btn-primary" ng-click="saveHolidayMode(holidayModeFrom,holidayModeTo,isActiveHolidayMode)" >{{trans('button_save')}}</button>
    </div>

</div>
<!-- END ADD TO GROUP MODAL -->