<!-- ADD TO GROUP MODAL -->
<div class="customize-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="hideOverlay()"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            <b>
                {{trans('your_balance_is_low')}}
            </b>
        </h4>
    </div>
    <div class="modal-body">
        <div class="modal_window">
            <div class="modal_container">
                <div class="modal_select_container text-center">
                    <p>
                        {{trans('your_click_to_call_snippet_have_been_disable_because_of_not_available_credit')}}
                    </p>
                    <p>
                        {{trans('everyone_who_visit_your_snippet_will_be_allowed_to_schedule')}}
                    </p>
                    <p>
                        {{trans('recharge_your_callburn_credit_to_have_your_snippets_working_again')}}
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success full-width delete-confirm-button-1" data-ng-click="hideOverlay()" >{{trans('button_close')}}</button>
    </div>

</div>
<!-- END ADD TO GROUP MODAL -->